<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <header class="menu">
            <input type="text" class="goods-search" v-model="searchLine">
            <button class="search-button" type="button" v-on:click="clickHandler">Искать</button>
            <button class="cart-button" type="button" v-on:click="show = !show">Корзина</button>
        </header>
        <main>
            <div class="goods-list">
                <div class="goods-item" v-for="good in filteredGoods">
                    <div class="img-item">Picture</div>
                    <h3>{{ good.product_name }}</h3>
                    <p>{{good.price}}</p>
                    <button class="add-to-basket" v-on:click="add(good)">Добавить</button>
                </div>
                <div class="goods-empty" v-if="filteredGoods.length==0">
                    <h3>No items</h3>
                </div>
            </div>
        </main>
        <aside v-show="show" transition="slide">
            <basket v-bind:basket="basket"></basket>
        </aside>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/script.js"></script>
</body>

</html>